<fieldset >
#foreach($prop in $props)
	<div class="control-group ${operator_2}ddutool.hasErrors('$prop', 'error')" >
        <label class="control-label" for="${propertyName}.$prop">${operator_2}text.get("${propertyName}.${prop}.label")：</label>
        <div class="controls">
        	$render.render("${domainClass}", "${prop}")
        </div>
	</div>
#end
</fieldset >
